extends layout
  
block links
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
     
block content
    body
        div(class="wrapper")
            div(class="header")
                span(class="blog-name") 编码沉思录
                a(class="nav" href="/") Home
                a(class="nav" href="/tag") Tag
                a(class="nav" href="/about") About
            div(class="content")
                div(class="post_list")
                    each page in pages
                        div(class="entry")
                            a(class="title" href="/page/" + page._id) !{page.title}
                            span(class="date") !{page.createdAt}
            div(class="bottom_nav")