extends layout

block content
    h1 编码沉思录
    //- ul
    //-     li
    //-         a(href="details/url/id")= pages
    
    ul
        each pageUrl in pageUrls
            li
                a(href=pageUrl) page
