doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html" charset="utf-8")
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/upload.css')
  style(type="text/css")
    block css
  body
    block content
