extends layout

block links
    link(rel='stylesheet', href='/stylesheets/GitHub2.css')
    link(rel="stylesheet", href="/stylesheets/default.min.css")
    script(src="/javascripts/highlight.min.js")
    script hljs.initHighlightingOnLoad()
        
block content
    body !{marked_page}
